In [1]:
!pwd

/Users/flatiron/Flatiron/3week/mod-1-project/mod1_project_kchousing

In [40]:
!ls

mod-1-project
module-1-code-challenge-round-1-seattle-ds-062419-dsc-module-1-assessment-1562605232

In [43]:
cd mod1_project_kchousing/

/Users/flatiron/Flatiron/3week/mod-1-project/mod1_project_kchousing

In [2]:
!ls

EXTR_ResBldg.txt             README.md
Extr_RPSale.txt              mod1_project_KChousing.ipynb
LICENSE

In [3]:
import pandas as pd

sales_df = pd.read_csv('Extr_RPSale.txt', sep='\t', lineterminator='\r')
# bldg_df =pd.read_csv('EXTR_ResBldg.txt', sep='\t', lineterminator='\r')

/anaconda3/envs/learn-env/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
sales_df.shape

(2033421, 24)

In [5]:
sales_df.columns.value_counts()

PlatNbr               1
RecordingNbr          1
Minor                 1
SellerName            1
Volume                1
SaleInstrument        1
Page                  1
SaleWarning           1
DocumentDate          1
PlatType              1
SaleReason            1
PrincipalUse          1
PropertyClass         1
SalePrice             1
PropertyType          1
AFForestLand          1
Major                 1
AFCurrentUseLand      1
AFNonProfitUse        1
ExciseTaxNbr          1
AFHistoricProperty    1
PlatBlock             1
BuyerName             1
PlatLot               1
dtype: int64

In [50]:
bldg_df.shape

(512549, 50)

In [6]:
sales_df.head().T

,0,1,2,3,4
ExciseTaxNbr,2642952,1381073,2496482,1970507,1701215
Major,720319,154580,356730,252505,235930
Minor,520,1220,45,9206,72
DocumentDate,11/20/2013,06/16/1994,06/09/2011,06/25/2003,07/08/1999
SalePrice,699950,125000,542200,443000,225000
RecordingNbr,20131126001594,199406211626,20110617001045,20030702002332,19990730000822
Volume,,089,,,
Page,,011,,,
PlatNbr,,154580,,,
PlatType,,P,,,
PlatLot,,7,,,
PlatBlock,,9,,,
SellerName,EAST RIDGE HOMES L L C ...,WEAVER SUSAN E ...,DARCY ERIC H+SAXTON ANN M ...,DOLPHIN HOMES INC ...,LACALLI THURSTON CASTLE ET AL ...
BuyerName,SAVASERE ASHOKA+ASHWINI ...,CLAUSMEYER WILLIAM A+PAMELA H ...,GERSHON JOEL S+ILEENE S ...,GUMM TERAH J ...,DONNEN JAMES W ...
PropertyType,2,3,3,3,3
PrincipalUse,6,6,6,6,6
SaleInstrument,3,2,3,3,3
AFForestLand,N,N,,N,N
AFCurrentUseLand,N,N,,N,N
AFNonProfitUse,N,N,,N,N
AFHistoricProperty,N,N,,N,N
SaleReason,1,1,1,1,1
PropertyClass,8,8,8,8,8
SaleWarning,,,,,

In [7]:
sales_df.columns

Index(['ExciseTaxNbr', 'Major ', 'Minor ', 'DocumentDate', 'SalePrice ',
       'RecordingNbr  ', 'Volume', 'Page', 'PlatNbr', 'PlatType',
       'PlatLot       ', 'PlatBlock', 'SellerName', 'BuyerName',
       'PropertyType', 'PrincipalUse', 'SaleInstrument', 'AFForestLand',
       'AFCurrentUseLand', 'AFNonProfitUse', 'AFHistoricProperty',
       'SaleReason', 'PropertyClass', 'SaleWarning'],
      dtype='object')

In [ ]:
# df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

In [8]:
# fixing columns name 
sales_df = sales_df.rename(columns={'Major ': 'Major', 'Minor ': 'Minor', 'SalePrice ': 'SalePrice'})

In [10]:
sales_df = sales_df[['Major', 'Minor', 'DocumentDate', 'SalePrice']]

In [12]:
sales_df.head()

    Major Minor DocumentDate  SalePrice
0  720319   520   11/20/2013   699950.0
1  154580  1220   06/16/1994   125000.0
2  356730    45   06/09/2011   542200.0
3  252505  9206   06/25/2003   443000.0
4  235930    72   07/08/1999   225000.0

In [86]:
sales_df.describe()

          SalePrice
count  2.033420e+06
mean   5.925071e+05
std    6.009803e+06
min   -6.000000e+02
25%    0.000000e+00
50%    1.500000e+05
75%    3.500000e+05
max    7.398850e+08

(2033421, 4)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.formula.api import ols
%matplotlib inline

print("Skew is:", sales_df.SalePrice.skew())
plt.hist(sales_df.SalePrice, color ='b')
plt.show()

In [ ]:
sales_df.plot.kde()